* {
  font-family: "Courgette", cursive;
}

.spHighlight {
  margin: auto;
  padding: 20px;
}

body {
  text-align: center;
  background-color: rgb(255, 227, 231);
}

button {
  background-color: rgb(227, 255, 255);
  width: 150px;
  margin: auto;
  margin-top: 50px;
  color: black;
  font-weight: bold;
}

.containerAll {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 350px;
}

.bgGlobal {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;

  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgChooser1 {
  background-image: url("bg1.jpg");
}

.bgChooser2 {
  background-image: url("bg2.jpg");
}

.bgChooser3 {
  background-image: url("bg3.jpg");
}

.bgChooser4 {
  background-image: url("bg4.jpg");
}

.bgChooser5 {
  background-image: url("bg5.jpg");
}

mark {
  background-color: white;
  line-height: 2.5;
}
